/* basic setting */
* {
    margin: 0;
    padding: 0;
}

*:not(.modal):not(.modal_content):not(.signup_content):not(.login_form input) {
    box-sizing: border-box;
}

/* web font */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* css 코드 시작 */
/* footer{
    text-align: center;
    margin-top: 70px;
} */

/* #main-content {
    margin: 10vh 10vw 15vh 10vw;
} */

body {
    font-family: 'GmarketSansLight';
    margin-top: 8vh;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 5vh;
}

li {
    color: #205A8F;
}

#text1 {
    margin: 0;
    /* margin-bottom: 100px; */
}

#text2 {
    margin-left: -100px;
}

h3 {
    color: #000000;
}

h4 {
    color: #000000;
}

main {
    height: 90vh;
}

#nav-box ul {
    padding: 0;
}

#nav-ul {
    padding: 0;
}

#circle {
    position: relative;
    width: 200px;
    height: 200px;
    top: 15px;
    /* left: 50px; */
    /* margin-left: 30px; */
    border-radius: 50%;
    background-color: rgb(200, 200, 200);
}

#account {
    margin-top: 100px;
    /* color: #205A8F; */
    position: relative;
    /* top: 20px; */
    margin-bottom: 50px;
    /* left:120px; */
    /* margin-left: -220px; */
}

#login {
    position: relative;
    width: 300px;
    height: 30px;
    /* left: 120px;
    bottom: 45px; */
    border-radius: 10px;
    background-color: #c0c0c0;
}

#schoolNumber {
    position: relative;
    width: 150px;
    height: 30px;
    /* left: 120px;
    bottom: 45px; */
    border-radius: 10px;
    background-color: #c0c0c0;
}

#name {
    position: relative;
    width: 150px;
    height: 30px;
    /* left: 120px;
    bottom: 45px; */
    border-radius: 10px;
    background-color: #c0c0c0;
}

#profile {
    /* color: #205A8F; */
    position: relative;
    /* top: 20px; */
    bottom: 100px;
    left: 120px;
}

.box {
    position: relative;
    margin-left: 730px;
    /* margin-left: 600px; */
    margin-top: -50px;
    /* margin-bottom: 5px; */
    /* padding: 20px; */
    /* margin: 50px; */
    border-radius: 7px;
    background-color: rgb(112, 112, 112);
    width: 300px;
    height: auto;
}

.pull {
    color: #FFF;
    /* text-align: center; */
    padding-left: 10px;
    padding-top: 4px;
}

.pull:after {
    content: "";
    position: absolute;
    /* top: 21px; */
    /* margin-top: auto; */
    /* margin-bottom: 50px; */
    /* right: -30px; */
    /* left: -30px; */
    margin-left: -275px;
    margin-top: -10px;
    /* border-left: 30px solid #000; */
    border-right: 30px solid rgb(112, 112, 112);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

#never {
    /* position: relative; */
    /* text-align: center; */
    /* bottom: 100px; */
    color: rgb(87, 85, 85);
}

#withdrawal {
    position: relative;
    text-align: center;
    /* justify-content : center; */
    /* vertical-align: middle; */
    width: 100px;
    height: 30px;
    /* margin-left: 700px; */
    /* left: 730px; */
    /* bottom: 125px; */
    border-radius: 10px;
    border: none;
    background-color: #205A8F;
    color: #FFF;
    text-decoration: underline;
}


/* 모바일 반응형 */
@media screen and (max-width:770px) {

    /* body {
        width: 20px;
        margin : 10vh auto 5vh auto;
    } */

    /* body {
        margin-top: 5vh;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-bottom: 5vh;
    } */

    .box {
        display: none;
    }

    #circle {
        width: 180px;
        height: 180px;
    }

    #account {
        width: auto;
    }


}