.check {
    text-align: center;
    margin-top: 120px;
}

button {
    cursor: pointer;
    font-family: 'GmarketSansMedium';
    border-radius: 7px;
    border: none;
    width: 80px;
    height: 30px;
    color: #fff;
}

#refuse {
    background-color: rgb(255, 52, 52);
}

#accept {
    margin-left: 15px;
    background-color: rgb(54, 54, 255);
}

/* basic setting */
* {
    margin: 0;
    padding: 0;
}

*:not(.modal):not(.modal_content):not(.signup_content):not(.login_form input) {
    box-sizing: border-box;
}

/* web font */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

main {
    margin: 10vh 10vw 17vh 10vw;
    font-family: 'GmarketSansMedium';
}

.search {
    display: flex;
    justify-content: space-between;
}

.searchs {
    margin-top: 5px;
}

.searchs input[type='text'] {
    margin-left: 20px;
    width: 330px;
}

.search li:first-child {
    display: flex;
}

.categorys {
    margin-top: 10px;
    margin-left: 10px;
}

/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand {
    display: none;
}

select {
    width: 80px;
    /* 원하는 너비설정 */
    padding: .8em .5em;
    /* 여백으로 높이 설정 */
    font-family: inherit;
    /* 폰트 상속 */
    background: url('../image/angle-small-down.png') no-repeat 95% 50%;
    /* 화살표 모양의 이미지 */
    border: 1px solid #999;
    border-radius: 0px;
    /* iOS 둥근모서리 제거 */
    -webkit-appearance: none;
    /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
}

#search-box {
    background-color: #fff;
    border: none;
    outline: none;
    font-size: 15pt;
    font-family: 'GmarketSansLight';
}

#line {
    height: 2px;
    width: 350px;
    background-color: #a8a7a7;
}

#board_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, auto));
    margin-top: 50px;
    column-gap: 30px;
    row-gap: 30px;
    justify-content: center;
}

.item {
    padding: 10px;
    width: 300px;
    height: 300px;
    background-color: #e9e9e9;
    border-radius: 12px;
    border: 1px solid #dedede;
}

/* .post_box {
    padding: 10px;
    width: 300px;
    height: 300px;
    background-color: #e9e9e9;
    border-radius: 12px;
    border: 1px solid #dedede;
} */

.post_student {
    font-size: 12pt;
    margin-bottom: 3px;
}

.post_space {
    font-size: 12pt;
    margin-bottom: 3px;
}

.post_time {
    font-size: 12pt;
    margin-bottom: 3px;
}

.post_number {
    font-size: 12pt;
    margin-bottom: 3px;
}

.post_space {
    font-size: 12pt;
    margin-bottom: 3px;
}

.check {
    font-size: 12pt;
    margin-bottom: 3px;
}

/* footer */
/* #footer {
    background-color: #575757;
    height: 100px;
    width: 100%;
    align-items: center;
    clear: both;

}

#footer img {
    width: 100px;
    margin-top: 25px;
    margin-left: 50px;
}

#footer p {
    color: white;
    font-family: 'GmarketSansLight';
    float: right;
    font-size: 15px;
    margin-top: 40px;
    margin-right: 50px;
} */

/* 모바일 반응형 */
@media screen and (max-width:770px) {

    main {
        margin: 10vh 10vw 15vh 10vw;
        font-family: 'GmarketSansMedium';
    }

    .container {
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    /* 버튼과 검색창의 flex 제거 */
    /* .search {
        display: block;
    }

    .searchs {
        margin-top: 5px;
    }

    .searchs input[type='text'] {
        width: 230px;
    }

    .search li:first-child {
        display: flex;
    }

    .categorys {
        margin-top: 10px;
        margin-left: 10px;
    } */

    /* IE 10, 11의 네이티브 화살표 숨기기 */
    /* select::-ms-expand {
        display: none;
    } */

    select {
        width: 80px;
        /* 원하는 너비설정 */
        padding: .8em .5em;
        /* 여백으로 높이 설정 */
        font-family: inherit;
        /* 폰트 상속 */
        background: url('../../image/angle-small-down.png') no-repeat 95% 50%;
        /* 화살표 모양의 이미지 */
        border: 1px solid #999;
        border-radius: 0px;
        /* iOS 둥근모서리 제거 */
        -webkit-appearance: none;
        /* 네이티브 외형 감추기 */
        -moz-appearance: none;
        appearance: none;
    }

    /* #search-box {
        background-color: #fff;
        border: none;
        outline: none;
        font-size: 12pt;
        font-family: 'GmarketSansLight';
    }

    #search-img {
        width: 18px;
    } */

    /* #line {
        width: 250px;
    } */

    #write_btn {
        margin-top: 1.5vh;
        width: 95px;
        font-size: 12pt;
        color: #3a3a3a;
    }

    #board_list {
        margin-top: 2vh;
        column-gap: 20px;
        row-gap: 20px;
        clear: both;
    }

    /* 버튼 우측 정렬 */
    .write {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding: 0px;
    }
}